/* NAVBAR */

.navbar{
    height: 60px;
    background-color: #1e293b;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1000;
}

.navLeft{
    display: flex;
    align-items: center;
}

.navRight{
    display: flex;
    align-items: center;
    gap: 25px;
}

.navRight p{
    cursor: pointer;
    transition: 0.3s;
}

.navRight p:hover{
    color: #94a3b8;
}